body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #FFF;
    font-size: 14px;
}

body a {
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin: 0;
}

ul label {
    margin: 0;
    padding: 0;
}

body a:hover {
    text-decoration: none;

}

/*start*/
.top-nav {
    padding-top: 3em;
    background: #79A7B5;
    position: relative;
}

.logo h1 {
    font-size: 3.5em;
    display: inline-block;
    line-height: 1em;
}

.logo h1 a {
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.top-nav ul li {
    margin-left: 2em;
    display: inline-block;
}

.top-nav ul li a {
    font-size: 1.3em;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 35px;
    font-weight: 400;
    z-index: 999;
}

.top-nav ul li a:hover, .top-nav ul li.active a {
    color: #D63D2E;
    background: none;
}

.top-nav ul li h4 {
    font-size: 1.2em;
    color: white;
    line-height: 1.6em;
    font-weight: 400;
    padding: 0.4em;
}

.top-nav ul li.phn-no {
    position: absolute;
    right: 6%;
    z-index: 9999;
}

/*这里是将东西从下面拿上去，自己写的动画*/
.cl-effect-5 li a {
    overflow: hidden;
    padding: 0;
}

.cl-effect-5 li a span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}

.cl-effect-5 li a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cl-effect-5 li a:visited span,
.cl-effect-5 li a:hover span,
.cl-effect-5 li a:focus span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    color: #D63D2E;
}

.cl-effect-5 li a:focus {
    background: none;
}

/*响应式布局*/
@media (max-width: 767px) {
    .top-nav {
        padding: 1.5em 1.5em 0;
    }

    button.navbar-toggle {
        background: indianred;
        border: white;
        margin: 0;
    }

    .navbar-toggle .icon-bar {
        background: #FFF;
    }

    .top-nav ul li {
        display: block;
        margin: 0.5em 0;
        text-align: center;
    }

    .top-nav ul li a {
        z-index: 0;
    }

    div#bs-example-navbar-collapse-1 {
        margin: 0;
        padding: 0;
        overflow: inherit;
        box-shadow: none;
    }

    ul.nav.navbar-right {
        text-align: center;
    }

    ul.navbar-nav.navbar-left.cl-effect-5 {
        margin: 0.5em 0;
        padding: 0 0 0.5em 0;
        border: 1px solid #fff;
    }

    .top-nav ul li.phn-no {
        position: inherit;
    }

    .top-nav ul li h4 {
        padding-top: 0;
    }
}

