{
    "presets": [
        ["env",
            {
                "targets": {
                    "browser": ["last 1 version"]
                }
            }
        ]
    ],
    "plugins": ["transform-class-properties"]
}