* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 0;
}
#content{
    width: 100%;
    min-width: 1360px;
}
#contentText{
    margin:0 auto;
    width: 500px;
    padding-top: 100px;
}
#contentText input{
    border: 1px solid #eb504e;
    margin-top: 20px;
}

#back{
    border: 1px solid white;
    text-align: center;
    height: 50px;
    width: 200px;
    margin-top: 60px;
    margin-left:50%;
    background: #eb504e;
}
#back a{
    text-decoration: none;
    color: white;
    line-height: 50px;
}
